.grid {

    display:grid;
    grid-template-columns: 20% 50%;
}

.boxBorderd {

    border:1px whitesmoke solid;
}

.btnsGrid {

    display:grid;
    grid-template-columns: 50% 50%;
}

.calender-stiky { 
    
    text-align: center;
    justify-content: center;
    border:solid whitesmoke 1px !important;
    color: whitesmoke;
    background-color: rgb(6, 6, 176);
    margin: 3px;
}